<HTML>
<HEAD>
<TITLE>E-Billing Solutions Pvt Ltd - Payment Page</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<style>
h1       { font-family:Arial,sans-serif; font-size:24pt; color:#08185A; font-weight:100; margin-bottom:0.1em}
h2.co    { font-family:Arial,sans-serif; font-size:24pt; color:#FFFFFF; margin-top:0.1em; margin-bottom:0.1em; font-weight:100}
h3.co    { font-family:Arial,sans-serif; font-size:16pt; color:#000000; margin-top:0.1em; margin-bottom:0.1em; font-weight:100}
h3       { font-family:Arial,sans-serif; font-size:16pt; color:#08185A; margin-top:0.1em; margin-bottom:0.1em; font-weight:100}
body     { font-family:Verdana,Arial,sans-serif; font-size:11px; color:#08185A;}
th 		 { font-size:12px;background:#015289;color:#FFFFFF;font-weight:bold;height:30px;}
td 		 { font-size:12px;background:#DDE8F3}
.pageTitle { font-size:24px;}
</style>
</HEAD><BODY LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0  bgcolor="#ECF1F7">
<center>
<table width='100%' cellpadding='0' cellspacing="0" ><tr><th width='90%'><h2 class='co'>&nbsp;EBS Payment Integration Page - Version 2</h2></th></tr></table>
<center><h1>PHP Example</H1></center>
<center><h3>Request Details</H3></center>
<form action="/pay" method="post" />
<input type="hidden" name="virtualPaymentClientURL" value="https://testing.secure.ebs.in/pg/ma/sale/vpc" />
<table width="600" cellpadding="2" cellspacing="2" border="0">
<tr>
<td class="fieldName" width="50%"><span class="error">*</span>Account Id</td>
<td  align="left" width="50%"> <input name="vpc_AccountId" type="text" value="7057" /></td>
</tr>
<tr>
<th colspan="2">Transaction Details</th>
</tr>
<tr>
<td class="fieldName" width="50%"<span class="error">*</span>>Reference No</td>
<td  align="left" width="50%"> <input name="vpc_ReferenceNo" type="text" value="223" /></td>
</tr>
<tr>
<td class="fieldName" width="50%"><span class="error">*</span>Sale Amount</td>
<td  align="left" width="50%"> <input name="vpc_Amount" type="text" value="10.00" /> INR</td>
</tr>
<tr>
<td class="fieldName" width="50%"><span class="error">*</span>Description</td>
<td  align="left" width="50%"> <input name="vpc_Description" type="text" value="Test Order Description" /></td>
</tr>
<tr>
<th colspan="2">Billing Address</th>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span> Name</td>
<td align="left">
<input name="vpc_Name" type="text" value="John Esak" /></td>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span>Address</td>
<td align="left">
<input name="vpc_Address" type="text" value="Arcot Road" />
</td>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span>City</td>
<td align="left">
<input name="vpc_City" type="text" value="Chennai" />
</td>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span>State/Province</td>
<td align="left">
<input name="vpc_State" type="text" value="Tamil Nadu" />
</td>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span>ZIP/Postal Code</td>
<td align="left">
<input name="vpc_PostalCode" type="text" value="600001" />
</td>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span>Country</td>
<td align="left">
<select name="vpc_Country">
<option value=""></option>
<option value="ABW">Aruba</option>
<option value="AFG">Afghanistan</option>
<option value="AGO">Angola</option>
<option value="AIA">Anguilla</option>
<option value="ALA">Åland Islands</option>
<option value="ALB">Albania</option>
<option value="AND">Andorra</option>
<option value="ANT">Netherlands Antilles</option>
<option value="ARE">United Arab Emirates</option>
<option value="ARG">Argentina</option>
<option value="ARM">Armenia</option>
<option value="ASM">American Samoa</option>
<option value="ATA">Antarctica</option>
<option value="ATF">French Southern Territories</option>
<option value="ATG">Antigua and Barbuda</option>
<option value="AUS">Australia</option>
<option value="AUT">Austria</option>
<option value="AZE">Azerbaijan</option>
<option value="BDI">Burundi</option>
<option value="BEL">Belgium</option>
<option value="BEN">Benin</option>
<option value="BFA">Burkina Faso</option>
<option value="BGD">Bangladesh</option>
<option value="BGR">Bulgaria</option>
<option value="BHR">Bahrain</option>
<option value="BHS">Bahamas</option>
<option value="BIH">Bosnia and Herzegovina</option>
<option value="BLM">Saint Barthélemy</option>
<option value="BLR">Belarus</option>
<option value="BLZ">Belize</option>
<option value="BMU">Bermuda</option>
<option value="BOL">Bolivia</option>
<option value="BRA">Brazil</option>
<option value="BRB">Barbados</option>
<option value="BRN">Brunei Darussalam</option>
<option value="BTN">Bhutan</option>
<option value="BVT">Bouvet Island</option>
<option value="BWA">Botswana</option>
<option value="CAF">Central African Republic</option>
<option value="CAN">Canada</option>
<option value="CCK">Cocos (Keeling) Islands</option>
<option value="CHE">Switzerland</option>
<option value="CHL">Chile</option>
<option value="CHN">China</option>
<option value="CIV">Côte d`Ivoire</option>
<option value="CMR">Cameroon</option>
<option value="COD">Congo, the Democratic Republic of the</option>
<option value="COG">Congo</option>
<option value="COK">Cook Islands</option>
<option value="COL">Colombia</option>
<option value="COM">Comoros</option>
<option value="CPV">Cape Verde</option>
<option value="CRI">Costa Rica</option>
<option value="CUB">Cuba</option>
<option value="CXR">Christmas Island</option>
<option value="CYM">Cayman Islands</option>
<option value="CYP">Cyprus</option>
<option value="CZE">Czech Republic</option>
<option value="DEU">Germany</option>
<option value="DJI">Djibouti</option>
<option value="DMA">Dominica</option>
<option value="DNK">Denmark</option>
<option value="DOM">Dominican Republic</option>
<option value="DZA">Algeria</option>
<option value="ECU">Ecuador</option>
<option value="EGY">Egypt</option>
<option value="ERI">Eritrea</option>
<option value="ESH">Western Sahara</option>
<option value="ESP">Spain</option>
<option value="EST">Estonia</option>
<option value="ETH">Ethiopia</option>
<option value="FIN">Finland</option>
<option value="FJI">Fiji</option>
<option value="FLK">Falkland Islands (Malvinas)</option>
<option value="FRA">France</option>
<option value="FRO">Faroe Islands</option>
<option value="FSM">Micronesia, Federated States of</option>
<option value="GAB">Gabon</option>
<option value="GBR">United Kingdom</option>
<option value="GEO">Georgia</option>
<option value="GGY">Guernsey</option>
<option value="GHA">Ghana</option>
<option value="GIN">N Guinea</option>
<option value="GIB">Gibraltar</option>
<option value="GLP">Guadeloupe</option>
<option value="GMB">Gambia</option>
<option value="GNB">Guinea-Bissau</option>
<option value="GNQ">Equatorial Guinea</option>
<option value="GRC">Greece</option>
<option value="GRD">Grenada</option>
<option value="GRL">Greenland</option>
<option value="GTM">Guatemala</option>
<option value="GUF">French Guiana</option>
<option value="GUM">Guam</option>
<option value="GUY">Guyana</option>
<option value="HKG">Hong Kong</option>
<option value="HMD">Heard Island and McDonald Islands</option>
<option value="HND">Honduras</option>
<option value="HRV">Croatia</option>
<option value="HTI">Haiti</option>
<option value="HUN">Hungary</option>
<option value="IDN">Indonesia</option>
<option value="IMN">Isle of Man</option>
<option value="IND" selected="selected">India</option>
<option value="IOT">British Indian Ocean Territory</option>
<option value="IRL">Ireland</option>
<option value="IRN">Iran, Islamic Republic of</option>
<option value="IRQ">Iraq</option>
<option value="ISL">Iceland</option>
<option value="ISR">Israel</option>
<option value="ITA">Italy</option>
<option value="JAM">Jamaica</option>
<option value="JEY">Jersey</option>
<option value="JOR">Jordan</option>
<option value="JPN">Japan</option>
<option value="KAZ">Kazakhstan</option>
<option value="KEN">Kenya</option>
<option value="KGZ">Kyrgyzstan</option>
<option value="KHM">Cambodia</option>
<option value="KIR">Kiribati</option>
<option value="KNA">Saint Kitts and Nevis</option>
<option value="KOR">Korea, Republic of</option>
<option value="KWT">Kuwait</option>
<option value="LAO">Lao People`s Democratic Republic</option>
<option value="LBN">Lebanon</option>
<option value="LBR">Liberia</option>
<option value="LBY">Libyan Arab Jamahiriya</option>
<option value="LCA">Saint Lucia</option>
<option value="LIE">Liechtenstein</option>
<option value="LKA">Sri Lanka</option>
<option value="LSO">Lesotho</option>
<option value="LTU">Lithuania</option>
<option value="LUX">Luxembourg</option>
<option value="LVA">Latvia</option>
<option value="MAC">Macao</option>
<option value="MAF">Saint Martin (French part)</option>
<option value="MAR">Morocco</option>
<option value="MCO">Monaco</option>
<option value="MDA">Moldova</option>
<option value="MDG">Madagascar</option>
<option value="MDV">Maldives</option>
<option value="MEX">Mexico</option>
<option value="MHL">Marshall Islands</option>
<option value="MKD">Macedonia, the former Yugoslav Republic of</option>
<option value="MLI">Mali</option>
<option value="MLT">Malta</option>
<option value="MMR">Myanmar</option>
<option value="MNE">Montenegro</option>
<option value="MNG">Mongolia</option>
<option value="MNP">Northern Mariana Islands</option>
<option value="MOZ">Mozambique</option>
<option value="MRT">Mauritania</option>
<option value="MSR">Montserrat</option>
<option value="MTQ">Martinique</option>
<option value="MUS">Mauritius</option>
<option value="MWI">Malawi</option>
<option value="MYS">Malaysia</option>
<option value="MYT">Mayotte</option>
<option value="NAM">Namibia</option>
<option value="NCL">New Caledonia</option>
<option value="NER">Niger</option>
<option value="NFK">Norfolk Island</option>
<option value="NGA">Nigeria</option>
<option value="NIC">Nicaragua</option>
<option value="NOR">R Norway</option>
<option value="NIU">Niue</option>
<option value="NLD">Netherlands</option>
<option value="NPL">Nepal</option>
<option value="NRU">Nauru</option>
<option value="NZL">New Zealand</option>
<option value="OMN">Oman</option>
<option value="PAK">Pakistan</option>
<option value="PAN">Panama</option>
<option value="PCN">Pitcairn</option>
<option value="PER">Peru</option>
<option value="PHL">Philippines</option>
<option value="PLW">Palau</option>
<option value="PNG">Papua New Guinea</option>
<option value="POL">Poland</option>
<option value="PRI">Puerto Rico</option>
<option value="PRK">Korea, Democratic People`s Republic of</option>
<option value="PRT">Portugal</option>
<option value="PRY">Paraguay</option>
<option value="PSE">Palestinian Territory, Occupied</option>
<option value="PYF">French Polynesia</option>
<option value="QAT">Qatar</option>
<option value="REU">Réunion</option>
<option value="ROU">Romania</option>
<option value="RUS">Russian Federation</option>
<option value="RWA">Rwanda</option>
<option value="SAU">Saudi Arabia</option>
<option value="SDN">Sudan</option>
<option value="SEN">Senegal</option>
<option value="SGP">Singapore</option>
<option value="SGS">South Georgia and the South Sandwich Islands</option>
<option value="SHN">Saint Helena</option>
<option value="SJM">Svalbard and Jan Mayen</option>
<option value="SLB">Solomon Islands</option>
<option value="SLE">Sierra Leone</option>
<option value="SLV">El Salvador</option>
<option value="SMR">San Marino</option>
<option value="SOM">Somalia</option>
<option value="SPM">Saint Pierre and Miquelon</option>
<option value="SRB">Serbia</option>
<option value="STP">Sao Tome and Principe</option>
<option value="SUR">Suriname</option>
<option value="SVK">Slovakia</option>
<option value="SVN">Slovenia</option>
<option value="SWE">Sweden</option>
<option value="SWZ">Swaziland</option>
<option value="SYC">Seychelles</option>
<option value="SYR">Syrian Arab Republic</option>
<option value="TCA">Turks and Caicos Islands</option>
<option value="TCD">Chad</option>
<option value="TGO">Togo</option>
<option value="THA">Thailand</option>
<option value="TJK">Tajikistan</option>
<option value="TKL">Tokelau</option>
<option value="TKM">Turkmenistan</option>
<option value="TLS">Timor-Leste</option>
<option value="TON">Tonga</option>
<option value="TTO">Trinidad and Tobago</option>
<option value="TUN">Tunisia</option>
<option value="TUR">Turkey</option>
<option value="TUV">Tuvalu</option>
<option value="TWN">Taiwan, Province of China</option>
<option value="TZA">Tanzania, United Republic of</option>
<option value="UGA">Uganda</option>
<option value="UKR">Ukraine</option>
<option value="UMI">United States Minor Outlying Islands</option>
<option value="URY">Uruguay</option>
<option value="USA">United States</option>
<option value="UZB">Uzbekistan</option>
<option value="VAT">Holy See (Vatican City State)</option>
<option value="VCT">Saint Vincent and the Grenadines</option>
<option value="VEN">Venezuela</option>
<option value="VGB">Virgin Islands, British</option>
<option value="VIR">Virgin Islands, U.S.</option>
<option value="VNM">Viet Nam</option>
<option value="VUT">Vanuatu</option>
<option value="WLF">Wallis and Futuna</option>
<option value="WSM">Samoa</option>
<option value="YEM">Yemen</option>
<option value="ZAF">South Africa</option>
<option value="ZMB">Zambia</option>
<option value="ZWE">Zimbabwe</option>
</select>
</td>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span>Email</td>
<td align="left">
<input name="vpc_Email" type="text" value="esak@darwin.in" />
</td>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span>Telephone</td>
<td align="left"><input name="vpc_Phone" type="text" value="04423452345" /></td>
</tr>
<tr>
<th colspan="2">Shipping Address</th>
</tr>
<tr>
<td class="fieldName">Name</td>
<td align="left">
<input name="vpc_ShipName" type="text" value="John Esak" /></td>
</tr>
<tr>
<td class="fieldName">Address</td>
<td align="left">
<input name="vpc_ShipAddress" type="text" value="Arcot Road" />
</td>
</tr>
<tr>
<td class="fieldName">City</td>
<td align="left">
<input name="vpc_ShipCity" type="text" value="Chennai" />
</td>
</tr>
<tr>
<td class="fieldName">State/Province</td>
<td align="left">
<input name="vpc_ShipState" type="text" value="Tamil Nadu" />
</td>
</tr>
<tr>
<td class="fieldName">ZIP/Postal Code</td>
<td align="left">
<input name="vpc_ShipPostalCode" type="text" value="600001" />
</td>
</tr>
<tr>
<td class="fieldName">Country</td>
<td align="left">
<select name="vpc_ShipCountry">
<option value=""></option>
<option value="ABW">Aruba</option>
<option value="AFG">Afghanistan</option>
<option value="AGO">Angola</option>
<option value="AIA">Anguilla</option>
<option value="ALA">Åland Islands</option>
<option value="ALB">Albania</option>
<option value="AND">Andorra</option>
<option value="ANT">Netherlands Antilles</option>
<option value="ARE">United Arab Emirates</option>
<option value="ARG">Argentina</option>
<option value="ARM">Armenia</option>
<option value="ASM">American Samoa</option>
<option value="ATA">Antarctica</option>
<option value="ATF">French Southern Territories</option>
<option value="ATG">Antigua and Barbuda</option>
<option value="AUS">Australia</option>
<option value="AUT">Austria</option>
<option value="AZE">Azerbaijan</option>
<option value="BDI">Burundi</option>
<option value="BEL">Belgium</option>
<option value="BEN">Benin</option>
<option value="BFA">Burkina Faso</option>
<option value="BGD">Bangladesh</option>
<option value="BGR">Bulgaria</option>
<option value="BHR">Bahrain</option>
<option value="BHS">Bahamas</option>
<option value="BIH">Bosnia and Herzegovina</option>
<option value="BLM">Saint Barthélemy</option>
<option value="BLR">Belarus</option>
<option value="BLZ">Belize</option>
<option value="BMU">Bermuda</option>
<option value="BOL">Bolivia</option>
<option value="BRA">Brazil</option>
<option value="BRB">Barbados</option>
<option value="BRN">Brunei Darussalam</option>
<option value="BTN">Bhutan</option>
<option value="BVT">Bouvet Island</option>
<option value="BWA">Botswana</option>
<option value="CAF">Central African Republic</option>
<option value="CAN">Canada</option>
<option value="CCK">Cocos (Keeling) Islands</option>
<option value="CHE">Switzerland</option>
<option value="CHL">Chile</option>
<option value="CHN">China</option>
<option value="CIV">Côte d`Ivoire</option>
<option value="CMR">Cameroon</option>
<option value="COD">Congo, the Democratic Republic of the</option>
<option value="COG">Congo</option>
<option value="COK">Cook Islands</option>
<option value="COL">Colombia</option>
<option value="COM">Comoros</option>
<option value="CPV">Cape Verde</option>
<option value="CRI">Costa Rica</option>
<option value="CUB">Cuba</option>
<option value="CXR">Christmas Island</option>
<option value="CYM">Cayman Islands</option>
<option value="CYP">Cyprus</option>
<option value="CZE">Czech Republic</option>
<option value="DEU">Germany</option>
<option value="DJI">Djibouti</option>
<option value="DMA">Dominica</option>
<option value="DNK">Denmark</option>
<option value="DOM">Dominican Republic</option>
<option value="DZA">Algeria</option>
<option value="ECU">Ecuador</option>
<option value="EGY">Egypt</option>
<option value="ERI">Eritrea</option>
<option value="ESH">Western Sahara</option>
<option value="ESP">Spain</option>
<option value="EST">Estonia</option>
<option value="ETH">Ethiopia</option>
<option value="FIN">Finland</option>
<option value="FJI">Fiji</option>
<option value="FLK">Falkland Islands (Malvinas)</option>
<option value="FRA">France</option>
<option value="FRO">Faroe Islands</option>
<option value="FSM">Micronesia, Federated States of</option>
<option value="GAB">Gabon</option>
<option value="GBR">United Kingdom</option>
<option value="GEO">Georgia</option>
<option value="GGY">Guernsey</option>
<option value="GHA">Ghana</option>
<option value="GIN">N Guinea</option>
<option value="GIB">Gibraltar</option>
<option value="GLP">Guadeloupe</option>
<option value="GMB">Gambia</option>
<option value="GNB">Guinea-Bissau</option>
<option value="GNQ">Equatorial Guinea</option>
<option value="GRC">Greece</option>
<option value="GRD">Grenada</option>
<option value="GRL">Greenland</option>
<option value="GTM">Guatemala</option>
<option value="GUF">French Guiana</option>
<option value="GUM">Guam</option>
<option value="GUY">Guyana</option>
<option value="HKG">Hong Kong</option>
<option value="HMD">Heard Island and McDonald Islands</option>
<option value="HND">Honduras</option>
<option value="HRV">Croatia</option>
<option value="HTI">Haiti</option>
<option value="HUN">Hungary</option>
<option value="IDN">Indonesia</option>
<option value="IMN">Isle of Man</option>
<option value="IND" selected="selected">India</option>
<option value="IOT">British Indian Ocean Territory</option>
<option value="IRL">Ireland</option>
<option value="IRN">Iran, Islamic Republic of</option>
<option value="IRQ">Iraq</option>
<option value="ISL">Iceland</option>
<option value="ISR">Israel</option>
<option value="ITA">Italy</option>
<option value="JAM">Jamaica</option>
<option value="JEY">Jersey</option>
<option value="JOR">Jordan</option>
<option value="JPN">Japan</option>
<option value="KAZ">Kazakhstan</option>
<option value="KEN">Kenya</option>
<option value="KGZ">Kyrgyzstan</option>
<option value="KHM">Cambodia</option>
<option value="KIR">Kiribati</option>
<option value="KNA">Saint Kitts and Nevis</option>
<option value="KOR">Korea, Republic of</option>
<option value="KWT">Kuwait</option>
<option value="LAO">Lao People`s Democratic Republic</option>
<option value="LBN">Lebanon</option>
<option value="LBR">Liberia</option>
<option value="LBY">Libyan Arab Jamahiriya</option>
<option value="LCA">Saint Lucia</option>
<option value="LIE">Liechtenstein</option>
<option value="LKA">Sri Lanka</option>
<option value="LSO">Lesotho</option>
<option value="LTU">Lithuania</option>
<option value="LUX">Luxembourg</option>
<option value="LVA">Latvia</option>
<option value="MAC">Macao</option>
<option value="MAF">Saint Martin (French part)</option>
<option value="MAR">Morocco</option>
<option value="MCO">Monaco</option>
<option value="MDA">Moldova</option>
<option value="MDG">Madagascar</option>
<option value="MDV">Maldives</option>
<option value="MEX">Mexico</option>
<option value="MHL">Marshall Islands</option>
<option value="MKD">Macedonia, the former Yugoslav Republic of</option>
<option value="MLI">Mali</option>
<option value="MLT">Malta</option>
<option value="MMR">Myanmar</option>
<option value="MNE">Montenegro</option>
<option value="MNG">Mongolia</option>
<option value="MNP">Northern Mariana Islands</option>
<option value="MOZ">Mozambique</option>
<option value="MRT">Mauritania</option>
<option value="MSR">Montserrat</option>
<option value="MTQ">Martinique</option>
<option value="MUS">Mauritius</option>
<option value="MWI">Malawi</option>
<option value="MYS">Malaysia</option>
<option value="MYT">Mayotte</option>
<option value="NAM">Namibia</option>
<option value="NCL">New Caledonia</option>
<option value="NER">Niger</option>
<option value="NFK">Norfolk Island</option>
<option value="NGA">Nigeria</option>
<option value="NIC">Nicaragua</option>
<option value="NOR">R Norway</option>
<option value="NIU">Niue</option>
<option value="NLD">Netherlands</option>
<option value="NPL">Nepal</option>
<option value="NRU">Nauru</option>
<option value="NZL">New Zealand</option>
<option value="OMN">Oman</option>
<option value="PAK">Pakistan</option>
<option value="PAN">Panama</option>
<option value="PCN">Pitcairn</option>
<option value="PER">Peru</option>
<option value="PHL">Philippines</option>
<option value="PLW">Palau</option>
<option value="PNG">Papua New Guinea</option>
<option value="POL">Poland</option>
<option value="PRI">Puerto Rico</option>
<option value="PRK">Korea, Democratic People`s Republic of</option>
<option value="PRT">Portugal</option>
<option value="PRY">Paraguay</option>
<option value="PSE">Palestinian Territory, Occupied</option>
<option value="PYF">French Polynesia</option>
<option value="QAT">Qatar</option>
<option value="REU">Réunion</option>
<option value="ROU">Romania</option>
<option value="RUS">Russian Federation</option>
<option value="RWA">Rwanda</option>
<option value="SAU">Saudi Arabia</option>
<option value="SDN">Sudan</option>
<option value="SEN">Senegal</option>
<option value="SGP">Singapore</option>
<option value="SGS">South Georgia and the South Sandwich Islands</option>
<option value="SHN">Saint Helena</option>
<option value="SJM">Svalbard and Jan Mayen</option>
<option value="SLB">Solomon Islands</option>
<option value="SLE">Sierra Leone</option>
<option value="SLV">El Salvador</option>
<option value="SMR">San Marino</option>
<option value="SOM">Somalia</option>
<option value="SPM">Saint Pierre and Miquelon</option>
<option value="SRB">Serbia</option>
<option value="STP">Sao Tome and Principe</option>
<option value="SUR">Suriname</option>
<option value="SVK">Slovakia</option>
<option value="SVN">Slovenia</option>
<option value="SWE">Sweden</option>
<option value="SWZ">Swaziland</option>
<option value="SYC">Seychelles</option>
<option value="SYR">Syrian Arab Republic</option>
<option value="TCA">Turks and Caicos Islands</option>
<option value="TCD">Chad</option>
<option value="TGO">Togo</option>
<option value="THA">Thailand</option>
<option value="TJK">Tajikistan</option>
<option value="TKL">Tokelau</option>
<option value="TKM">Turkmenistan</option>
<option value="TLS">Timor-Leste</option>
<option value="TON">Tonga</option>
<option value="TTO">Trinidad and Tobago</option>
<option value="TUN">Tunisia</option>
<option value="TUR">Turkey</option>
<option value="TUV">Tuvalu</option>
<option value="TWN">Taiwan, Province of China</option>
<option value="TZA">Tanzania, United Republic of</option>
<option value="UGA">Uganda</option>
<option value="UKR">Ukraine</option>
<option value="UMI">United States Minor Outlying Islands</option>
<option value="URY">Uruguay</option>
<option value="USA">United States</option>
<option value="UZB">Uzbekistan</option>
<option value="VAT">Holy See (Vatican City State)</option>
<option value="VCT">Saint Vincent and the Grenadines</option>
<option value="VEN">Venezuela</option>
<option value="VGB">Virgin Islands, British</option>
<option value="VIR">Virgin Islands, U.S.</option>
<option value="VNM">Viet Nam</option>
<option value="VUT">Vanuatu</option>
<option value="WLF">Wallis and Futuna</option>
<option value="WSM">Samoa</option>
<option value="YEM">Yemen</option>
<option value="ZAF">South Africa</option>
<option value="ZMB">Zambia</option>
<option value="ZWE">Zimbabwe</option>
</select>
</td>
</tr>
<tr>
<th colspan="2">Payment Option</th>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span>Payment option</td>
<td align="left">
<input name="vpc_PaymentOption" type="text" value="1001" size="4"/></td>
</tr>
<tr>
<th colspan="2">Credit Card Information</th>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span>Card Number</td>
<td align="left">
<input name="vpc_CardNo" type="text" value="4111111111111111" size="16"/></td>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span>Expirty Date</td>
<td align="left">
<input name="vpc_ExpiryDate" type="text" size="7" value="0716" />
</td>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span>CVV</td>
<td align="left">
<input name="vpc_Cvv" type="text" size="3" value="123" />
</td>
</tr>        
<tr>
<td class="fieldName"><span class="error">*</span>Issuing Bank</td>
<td align="left"><input name="vpc_Issuingbank" type="text" size="20" value="CITI" /></td>
</tr>
<tr>
<th colspan="2">Other Information</th>
</tr>
<tr>
<td class="fieldName"><span class="error">*</span>Return Url</td>
<td align="left"><input name="vpc_ReturnUrl" type="text" size="60" value="http://localhost:8000/response" /> </td>
</tr>
<tr>
<td class="fieldName">Go Back Url</td>
<td align="left"><input name="vpc_GoBackUrl" type="text" size="60" value="http://localhost/" /> </td>
</tr>
<tr>
<td class="fieldName">Mode</td>
<td align="left"><select name="vpc_Mode" >
<option value="TEST">TEST</option>
<option value="LIVE">LIVE</option>
</select> </td>
</tr>
<tr>
<td valign="top" align="center" colspan="2">
<input name="submitted" value="Submit" type="submit" />&nbsp; 
<input value="Reset" type="reset" />
</td>
</tr>
<tr>
<td valign="top" align="center" colspan="2">
<span class="error">*</span> 
<span>denotes required field</span>
</td>
</tr>
</table>
</form>
</center>
<table width='100%' cellpadding='0' cellspacing="0" ><tr><th width='90%'>&nbsp;</th></tr></table>
</body>
</html>